<<<<<<< HEAD
:root {
    --primary-color: #51C2AE;
    --secondary-color: #62B479;
    position: relative;
}

.triangles {
    cursor: pointer;
}

#darkGroup {
    fill: var(--primary-color);
}

#lightGroup {
    fill: var(--secondary-color);
}

#lightOne, #darkOne, #darkTwo {
    transition: all 1s ease;
}

#darkTwo {
    transform: translateX(-100%);
}

.triangles:hover #lightOne{
    transform: translateX(20%);
}

.triangles:hover #darkOne{
    transform: translateX(41%);
}

.triangles:hover #darkTwo{
    transform: translateX(0%);
}

.bigCog {
    fill: var(--primary-color);
    position: absolute;
    top: 70%;
    left: 39.5%;
    animation: clockwise 6s linear infinite;
}

.mediumCog {
    fill: var(--secondary-color);
    position: absolute;
    top: 90%;
    left: 32%;
    animation: counterClockwise 6s linear infinite;
}

.smallCog {
    fill: var(--primary-color);
    position: absolute;
    top: 60%;
    left: 27.5%;
    animation: clockwise 6s linear infinite;
}

@keyframes clockwise {
    from {
        transform: rotateZ(0deg);
    }
    to  {
        transform: rotateZ(360deg);
    }
}

@keyframes counterClockwise {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}
=======
:root {
    --primary-color: #51C2AE;
    --secondary-color: #62B479;
    position: relative;
}

.triangles {
    cursor: pointer;
}

#darkGroup {
    fill: var(--primary-color);
}

#lightGroup {
    fill: var(--secondary-color);
}

#lightOne, #darkOne, #darkTwo {
    transition: all 1s ease;
}

#darkTwo {
    transform: translateX(-100%);
}

.triangles:hover #lightOne{
    transform: translateX(20%);
}

.triangles:hover #darkOne{
    transform: translateX(41%);
}

.triangles:hover #darkTwo{
    transform: translateX(0%);
}

.bigCog {
    fill: var(--primary-color);
    position: absolute;
    top: 70%;
    left: 39.5%;
    animation: clockwise 6s linear infinite;
}

.mediumCog {
    fill: var(--secondary-color);
    position: absolute;
    top: 90%;
    left: 32%;
    animation: counterClockwise 6s linear infinite;
}

.smallCog {
    fill: var(--primary-color);
    position: absolute;
    top: 60%;
    left: 27.5%;
    animation: clockwise 6s linear infinite;
}

@keyframes clockwise {
    from {
        transform: rotateZ(0deg);
    }
    to  {
        transform: rotateZ(360deg);
    }
}

@keyframes counterClockwise {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}
>>>>>>> b9689e5ee933ddada507f338133088024b7d2bda
